.App{
  position: relative;
}
.content-app{
  display: flex;
  overflow: hidden !important;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400%;
}
.home, .destination, .crew, .technology{
  width: 100vw;
  height: 100vh;
}
.logo{
  position: fixed;
  top: 44px;
  left: 40px;
}
.hr-line{
  position: fixed;
  right: 650px;
  background-color: grey;
  top: 68px;
  width: 40%;
  height: 1px;
}
.lay-content{
  height: 400px;
}
.name {
  color: white;
  font-size: 3.5em;
  margin-bottom: 40px;
}
.lay-desc{
  color: #ddd;
  font-size: 1.4em;
}
@media (max-width: 1124px) {
  .hr-line{
    display: none;
  }
  .content-app{
    flex-direction: column;
    width: 100%;
  }
  .logo{
    top: 10px;
    left: 10px;
  }
}
@media (max-width: 768px) {
  .hr-line{
    display: none;
  }
  .content-app{
    flex-direction: column;
    width: 100%;
  }
  .App{
    overflow: hidden;
    position: relative;
  }
  .App .menu {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .menu-line{
    padding: 1px;
    width: 40px;
    height: 1px;
    background-color: #ddd;
    /* transform: rotate(90deg); */
  }
  .menu-line::after, .menu-line::before{
    content: "";
    width: 30px;
    height: 1px;
    padding: 1px;
    position: absolute;
    top: 7px;
    right: 0;
    background-color: #ddd;
  }
  .menu-line::before{
    width: 20px;
    top: 14px;
  }
  .home, .destination, .crew, .technology{
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }
.lay-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-self: center !important;
}
.name{
  align-self: center;
  font-size: 2.4em;
}
.lay-desc{
  color: #ddd;
  font-size: 2em;
}
}