.crew {
  /* width: 100vw; */
  height: 100vh;
  background: url(../assets/crew/background-crew-desktop.jpg);
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  flex-direction: column;
  background-size: cover;
}
.crew-inner {
  display: flex;
  justify-content: flex-end;
  gap: 20em;
}
.crew-right,
.crew-left {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 400px;
  align-items: flex-start;
}

.crew-content {
  height: 400px;
}

.role {
  text-transform: uppercase;
  color: #ccc;
  font-weight: lighter;
  font-size: 2em;
  margin-bottom: 20px;
}

.dot-tabs {
  display: flex;
  gap: 40px;
  margin: 50px 0px;
}
.dot-tab {
  width: 15px;
  height: 15px;
  background-color: #3a3a3a;
  border-radius: 50%;
}
.dot-tab-active {
  background-color: #ddd;
}
.crew-right .image {
  width: 400px;
}

@media (max-width: 1124px) {
  .crew {
    background: url(../assets//crew/background-crew-tablet.jpg);
    background-size: cover;
    justify-content: flex-start;
    padding: 15em 0px;
  }
  .crew-inner {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .crew-left {
    align-items: center;
  }
  .crew-right .image {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .crew {
    background: url(../assets//crew/background-crew-mobile.jpg);
    width: 100%;
    /* padding-top: 20em; */
    background-size: cover;
    height: 100vh;
  }
  .crew-inner {
    justify-content: flex-start;
    gap: 10em;
  }
  .crew-right,
  .crew-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .crew-content {
    height: 100%;
  }
  .dot-tabs {
    margin-bottom: 10px;
  }
  .crew-right .image {
    width: 200px;
  }
  .crew-right{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
