.destination {
  /* width: 100vw; */
  height: 100vh;
  background: url(../assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.dest-outer {
  display: flex;
  max-width: 978px;
  flex-direction: column;
  align-self: center;
  /* flex-direction: row; */
  /* overflow: hidden; */
  /* gap: 40em; */
  padding-bottom: 10em;
}
.dest-inner {
  display: flex;
  gap: 20em;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}
.dest-left {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.dest-left .image {
  width: 400px;
}
.title {
  color: #ddd;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 1.5em;
}
.title span {
  color: grey;
}
.dest-right {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dest-right ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.dest-right ul li {
  font-size: 1.4em;
  color: #fff;
  padding: 10px 0px;
  /* border-bottom: 3px solid white; */
  cursor: pointer;
  text-transform: uppercase;
}
.dest-name {
  font-size: 6em;
  margin: 20px 0;
  color: white;
}
.dest-desc {
  width: 100%;
  font-size: 1.2em;
  color: #ccc;
}
.line {
  width: 80%;
  background-color: #ccc;
  padding: 1px;
  margin: 20px 0;
}
.distance {
  display: flex;
  color: #ccc;
  gap: 50px;
  width: 100%;
  justify-content: flex-start;
}
.dist-to,
.travel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dist-to span,
.travel span {
  font-size: 1em;
  text-transform: uppercase;
}

.dist-to h1,
.travel h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 1124px) {
    .destination{
        background: url(../assets/destination/background-destination-tablet.jpg) no-repeat;
        background-size: cover;
        justify-content: center;
    }
    .dest-outer{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .dest-inner{
        flex-direction: column;
        gap: 5em;
        justify-content: center;
        align-items: center;
    }
    .dest-left{
        justify-content: center;
        align-items: center;
    }
    .dest-left img{
        width: 300px !important;
    }
    .dest-right{
        justify-content: center;
        align-items: center;
    }
    .line{
        width: 100%;
    }
    .dest-desc {
        font-size: 1.8em;
    }
    .dest-right ul li {
        font-size: 1.8em;
    }
}
@media (max-width: 768px) {
    .dest-outer{
        align-items: center;
        padding-bottom: 0;
    }
    .dest-left img{
        width: 200px !important;
    }
    .dest-desc{
        gap: 2em;
    }
    .active{
        border-bottom: 3px solid #ddd !important;
    }
    .dest-right{
        width: 80%;
    }
}