.home{
    /* width: 100vw; */
    height: 100vh;
    background: url(../assets/home/background-home-desktop.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
}
.home-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;
}
.home-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.so{
    font-size: 2.3em;
    color: #aaa;
}
.space{
    font-size: 10em;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}
.space-cont{
    font-size: 1.8em !important;
    width: 450px;
    font-size: 1.3em;
    color: #aaa;
    text-align:justify;
}
.home-right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.explore{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.explore h1{
    letter-spacing: .1em;
    font-size: 2.4em;
}
@media (max-width: 1124px) {
    .home{
        background: url(../assets/home/background-home-tablet.jpg) no-repeat;
        object-fit: cover;
        background-size: cover;
        flex-direction: column;
        padding-top: 15em;
    }
    .home-content{
        flex-direction: column;
        gap: 20em;
    }
    .space-cont{
        text-align: center;
        font-size: 1.6em;
    }
}
@media (max-width: 768px) {
    .home{
        padding: 50px 10px;
    }
    .home-left{
        width: 100%;
    }
    .so{
        align-self: center;
    }
    .space{
        align-self: center;
        font-size: 8em;
    }
    .space-cont{
        width: 80%;
        align-self: center;
    }
}