.nav {
  position: fixed;
  right: 0px;
  top: 40px;
  padding: 0px 100px;
  /* padding-right: 100px; */
  background-color: transparent;
  backdrop-filter: blur(15px) brightness(160%);
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}
.menu,
.close-menu {
  display: none;
}

.nav-li {
  color: whitesmoke;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
  padding: 20px 5px;
  font-size: 1.4em;
  border-width: 0px;
  cursor: pointer;
}
.active {
  border-bottom: 3px solid white;
}

.nav-li span {
  font-weight: bold;
}

@media (max-width: 1124px) {
  .nav {
    top: 0;
    right: 0;
    padding: 0 20px;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px) brightness(60%);
    position: fixed;
    transform: translate(1000px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .nav-open {
    transform: translate(0);
    transition: all 0.5s ease;
  }
  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
  }
  .active {
    border: none;
  }
  .nav-li {
    font-size: 2em;
  }
  .close-menu {
    display: inline;
    color: white;
    font-size: 3em;
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background-color: transparent;

  }
}
