.technology {
  /* width: 100vw;     */
  height: 100vh;
  background: url(../assets/technology/background-technology-desktop.jpg);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.technology .dest-outer {
  max-width: 100vw !important;
}
.tech-inner {
  display: flex;
  gap: 10em;
}
.tech-left,
.tech-right {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tech-left {
  width: 600px !important;
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.tech-right {
  width: 400px;
}
.tabs {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 20px;
}
.tabs .tab {
  font-size: 2em;
  color: #ddd;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.tab-active {
  background-color: #ddd;
  color: #111 !important;
}
.tech-right img {
  /* width: 400px !important; */
  object-fit: cover;
  width: 500px;
}
@media (max-width: 1124px) {
  .technology {
    background: url(../assets/technology/background-technology-tablet.jpg);
    background-size: cover;
    justify-content: center;
  }
  .tech-inner {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .tech-left {
    flex-direction: column;
    align-items: center;
  }
  .tabs {
    flex-direction: row;
    margin-right: 0px;
  }
  .technology .dest-outer {
    align-items: center;
  }
  .tech-right img {
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .technology {
    background: url(../assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .tech-inner {
    width: 100% !important;
    align-self: center;
  }
  .tech-left,
  .tech-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .tech-left{
    width: 80% !important;
  }
  .tech-right{
    display: flex;
    align-items: center;
  }
  .tech-right img {
    /* width: 400px !important; */
    object-fit: cover;
    width: 300px;
  }
  .technology .dest-outer {
    max-width: 100% !important;
  }
}
